@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.oficial{
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: #EC6E21;
    border: 8px solid #451A11;
}

.oficial img{
    width: 650px;
    height: 230px;
}

.historia{
    background-color: #FBF8F3;
    font-size: 20px;
}
.historia p{
    background-color: white;
}