/*Estilos del fondo de las imagenes*/
.menu{
    background-image: url(../../utils/images/fontmenu.png);
    background-repeat: repeat-y;
    background-size: contain;
    height: auto;
    display: block;
    border: 8px solid #451A11;
}

/*Estilos de todas las imagenes*/
.menu img{
    width: 400px;
    height: 200px;
}
.menu2, .menu4, .menu5{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.menu3{
    padding: 50px;
    text-align: center;
}
.img2, .img7{
    margin-left: 100px;
    transform: rotate(-10deg);
}
.img1, .img5, .img6{
    transform: rotate(10deg);
}
.img4{
    transform: rotate(-10deg);
}
.img5{
    margin-left: 100px;
}

/*Estilos del boton menu*/
#title {
    background-image: url(../../utils/images/font.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    text-align: center;
    width: 650px;
    height: 230px;
    margin-left: 350px;
    margin-top: -80px;
    z-index: 1;
    border: 1px solid white;
  }
  .titleOrang {
    font-family: roboto slab;
    text-decoration: none;
    font-size: 150px;
    font-weight: 900;
    color: white;
    text-shadow: 3px -3px #EC6E21 ;
}

/*Estilos del texto de las direcciones*/
.location, .locat{
    display: flex;
    background-color: #451A11;
    border: 4px  solid #c2aa81;
}
p{
    font-size: 30px;
    color: #F2DDBA;
    font-weight: 900;
    margin: 50px;
    padding-top: 30px;
}

/*Estilos de las imagenes de direciones*/
.location img{
    width: 600px;
    height: 400px;
    margin: 45px 0px 0px 100px;
}
.locat img{
    width: 600px;
    height: 380px;
    margin: 35px 0px 0px 165px;
}
.locat{
    /* margin-top: 10px; */
}

/*RESPONSIVE*/

@Media only screen and (max-width:420px){
    .Footer{
    height: 50px;

    }

}

@Media screen and (min-width:760px) and (max-width:768px){
    .menu{
        width: 90%;
        height: 70%;
        }
    .menu2 img{
        width: 150px;
        height: 100px;
        }
        .menu4 img{
            width: 150px;
            height: 100px;
        }
        .menu5 img{
            width: 150px;
            height: 100px;
         }
         .title{
            width: 30px;
            height: 50px;
            display: flex;
         }
         .location img{
            width: 250px;
            height: 250px;
            margin-left: 1%;
        }
            .location p {
                font-size: 20px;
                margin: 10px;
        }
        .locat img{
            width: 250px;
            height: 250px;
            margin-left: 2%;
            }
        .locat p{
                font-size: 23px;
                margin: 10px;
                }
    .Footer{
      height: 80px;
      width: 650px;
      }
    }