/* estilos del fondo */
.tabla {
  background-image: url(../../utils/images/font.png);
  background-repeat: repeat-y;
  background-size: contain;
  border: 3px solid #865c52;
}
/* estilos del titulo */
.tabla h1 {
  font-size: 50px;
  font-family: roboto slab;
  color: blanchedalmond;
  font-weight: 700;
  text-align: center;
}

/* estilos de los botones */
.tabla button {
  background-color: #ec6e21;
  color: blanchedalmond;
  font-size: 26px;
  font-family: roboto slab;
  border-radius: 8px;
  width: 180px;
  height: 50px;
  display: block;
}
.bttn{
  margin: 50px;
  display: flex;
}
.menus, .finalizar{
  margin-top: 50px;
}
.volver{
  margin-right: 60px;
  float: right;
  text-decoration: none;
}
.finalizar{
   margin-left: 70%;
}
.container{
  margin-top: 300px;
}
 .btnFirst {
  margin: 40px;
  margin-top: 200px;
  text-align: center;
  display: flex;
}
.desayunos, .entradas, .res, .pescado {
  margin: 0px 65px;
}
.btnSecond {
  justify-content: center;
  display: flex;
}
.pollo, .ensaladas, .sandwiches {
  margin: 10px 65px;
}
.btnThird {
  margin: 50px;
  justify-content: center;
  display: flex;
  margin-left: 180px;
}
.coctel, .postres {
  margin: 10px 130px 0px 0px;
}
.btnLast {
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.desayunos, .entradas, .res,
.pescado, .pollo, .ensaladas,
.sandwiches, .coctel, .postres,
.bebidas {
  display: flex;
}
.active {
  display: flex;
}
.disable {
  display: none;
}