/*Estilos del footer*/
.Footer{
    background-image: url(../../utils/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: flex;

}

/*Estilos de los iconos de facebook y instagram*/
.iconos img{
    width: 100%;
    height: 50%;
    margin-top: 45%;
}

.iconos{
    display: flex;
    margin-left: 80%;

}

/*RESPONSIVE*/

@Media only screen and (max-width:420px){
    .Footer{
    height: 50px;

    }

}